<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>OfferController</servlet-name>
        <servlet-class>Controller.OfferController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>Controller.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobPostingController</servlet-name>
        <servlet-class>Controller.JobPostingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InterviewController</servlet-name>
        <servlet-class>Controller.InterviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplicationController</servlet-name>
        <servlet-class>Controller.ApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewApplicationController</servlet-name>
        <servlet-class>Controller.ReviewApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmailController</servlet-name>
        <servlet-class>Controller.CheckEmailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OfferController</servlet-name>
        <url-pattern>/OfferController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/SignupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobPostingController</servlet-name>
        <url-pattern>/JobPostingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InterviewController</servlet-name>
        <url-pattern>/InterviewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplicationController</servlet-name>
        <url-pattern>/ApplicationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewApplicationController</servlet-name>
        <url-pattern>/ReviewApplicationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmailController</servlet-name>
        <url-pattern>/CheckEmailController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
